<!DOCTYPE html>
<html lang="en">
<head>
  {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'media/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="{% static 'css/Gallery.css' %}" rel="stylesheet" >
    <title>Aruvi Institute</title>
</head>
<body>
    <!-- Header Section -->
    <nav>
        <div class="nav-links">
            <div class="nav-logo">
                <img class="nav-logo-img" src="{% static 'media/Aruvilogo.png' %}" alt="Logo" width="48px" height="48px">
                <label class="nav-logo-text">Aruvi</label>
            </div>

            
            <ul class="mob-nav">
              <li><a class="active" href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'course' %}">Course</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'register' %}">Registration</a></li>
            </ul>
            <div class="menu-btn">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>  
    </nav>


    <!-- Content Section -->

    <h1>Aruvi Institute Gallery</h1>
    <section class="photo-grid-container">
      <div class="photo-grid-item">
        <img src="{% static 'media/gr1.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr2.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr3.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr4.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr5.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr6.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr7.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr8.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr9.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr10.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr11.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr12.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr13.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr14.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr15.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr16.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr17.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/gr18.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/grp.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/grp2.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/group.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/grps.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/puvn.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/mam1.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/old.jpeg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/sara.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/movie.jpg' %}" alt="" />
      </div>
      <div class="photo-grid-item">
        <img src="{% static 'media/mams.jpg' %}" alt="" />
      </div>
    </section>

<hr>  
    <!-- Footer Section  -->

    <footer class="footer">
        <div class="footer-row">
            
            <div class="footer-col">
                <h4>MENU</h4>
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'course' %}">Course</a></li>
                  <li><a href="{% url 'gallery' %}">Gallery</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li><a href="{% url 'register' %}">Registration</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>IDLE DOWNLOAD</h4>
                <ul>
                    <li><a href="https://www.python.org/downloads/">Python</a></li>
                    <li><a href="https://code.visualstudio.com/download">Visual Studio Code</a></li>
                    <li><a href="https://www.anaconda.com/products/individualf ">Anaconda</a></li>
                    <li><a href="https://www.jetbrains.com/pycharm/download/#section=windows">PyCharm</a></li>
                    <li><a href="https://www.sublimetext.com/3">Sublime Text</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>COURSE</h4>
                <ul>
                  <li><a href="{% url 'course' %}">python</a></li>
                  <li><a href="{% url 'course' %}">Data Science</a></li>
                  <li><a href="{% url 'course' %}">fullstack developer</a></li>
                  <li><a href="{% url 'course' %}">Web Devlopment</a></li>
              </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/aruviinstitute.tenkasi"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/AruviOf"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/aruvi_python_learning/?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/c/AruviTechNews"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            
        </div>
        
</footer>
<div class="designed">
  <h3>Updated By <a href="https://www.instagram.com/crazy_phoenix_/" target="_blank"><span method=""> John</span></a></h3>
</div>

<script src="{% static 'js/js.js' %}"></script>

</body>
</html>