@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* List Syle */
li{
    list-style: none;
}
/* Scroll Behavior */
html{
    
    scroll-behavior:smooth;
}
body{
    overflow-x: hidden;
}
/* Color Variable */
:root{
    --white:#FFF;
    --softwhite:#f2fff0;
    --lightwhite:#cfffcd;
    --lightpurple:#C282FA;
    --ligghtvoilet:#6E61CA;
    --darkwhite:#D8D8D8;
    --skyblue:#88F7FE;
    --blue:#66A6FF;
    --black:#0a0a0a;
    --darkblue:#040429;
    --green: green;
}
/* Header Section */
a{
    text-decoration: none;
    color: #000;
}
h1,h2,h3,h4{
    font-family: 'Readex Pro', sans-serif;
}
h1{
    color: #e91e63;
}
p{
    font-family: 'Kreon', serif;
    padding: 5px;
}
/* Nav Section*/
nav{
    z-index: 999999;
    height: 15%;
    background-color: var(--softwhite);
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 8px#24262b;
}
.nav-links{
    align-items: center;
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}
.menu-btn{
    display:none;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
nav ul li:hover{
    transform: scale(1.1);
    transition: .3s;
}

.menu-btn{
    width: 30px;
    height: 20px;
    display: none;
    cursor: pointer;
    margin-right: 3%;
}
div .nav-logo{
    display: flex;
    align-items: center;
}
div .nav-logo-text{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-left: 5%;
}

/* Main Section */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;
}
section::before{
    content:'';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b,#e91e63);
    border-radius: 50%;
    transform: translate(-420px,-180px);
}
section::after{
    content:'';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3,#83d8ff);
    border-radius: 50%;
    transform: translate(420px,180px);
}
.container{
    position: relative;
    z-index: 1000;
    width: 50%;
    max-width:500px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter:blur(20px);
}
.container::before{
    content: '';
    position:absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.container .row100
{
    position:relative;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.container .row100 .col .inputbox{
    position: relative;
    width: 100%;
    height:40px;
    color:#fff;
}
.container .row100 .col .inputbox textarea,
.container .row100 .col .inputbox input{
    position: absolute;
    width: 100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0,10px;
    z-index:1;
}
.container .row100 .col .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .col .inputbox input:focus + .text,
.container .row100 .col .inputbox input:valid + .text,
.container .row100 .col .inputbox textarea:focus + .text,
.container .row100 .col .inputbox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .col .inputbox .line{
    position: absolute;
    bottom:0;
    display: block;
    width:100%;
    height:2px;
    background: #fff;
    transition:0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .col .inputbox input:focus ~ .line,
.container .row100 .col .inputbox input :valid ~ .line{
    height: 100%;
}
.container .row100 .col .inputbox .textarea
{
    position:relative;
    width: 100%;
    height: 100px;
    padding:10px 0;
}
.container .row100 .col .inputbox textarea:focus ~ .line,
.container .row100 .col .inputbox textarea :valid ~ .line{
    height: 100%;
}
.container .row100 .col input[type="submit"]{
    border:none;
    padding: 10px 40px;
    cursor:pointer;
    outline:none;
    background:#fff;
    color: #000;
    font-weight: 600;
    font-size:18px;
    border-radius: 2px;
}
select:invalid{
    color: gray;
}
option{
    color: black;
}

.success{
    font-size: 20px;
    color: aqua;
}

.reg{
    padding-left: 35%;
    padding-top: 2%;
}
.reg h1{
    padding-top: -5%;
    padding-left: 13%;
    color: #db07c6;
}
.forms{
 padding-top: 2%;  
 padding-left: 1%; 
box-sizing: border-box;
width: 450px;
height: 430px;
border-style:ridge;
border-radius: 2px;
box-shadow: #0964e2;
}
  /* Footer Section */
  .footer{
    background-color: var(--black);
    padding: 20px;
    color: var(--white);
    margin-top: 0;
}
.footer-row{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}
.footer-col{
    margin-top: 20px;
}
.footer-col h4{
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;

}
.footer-col ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
}
.footer-col a{
    text-align: center;
    padding-left: 10px;
    font-size: 12px;
    text-transform:capitalize;
    color: var(--white);
}
.social-links a{
padding-left: 0;
}
.footer-col li:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;  
}

/* Web Design By */
.designed{
    text-align: right;
    word-spacing: 5px;
    width: 100%;
    background-color: black;
}
.designed h3{
    padding: 5px;
    color: var(--white);
    font-size:10px;
    margin-right: 5%;
}

.designed span{
    color:red;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

.social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: var(--white);
	margin:0 7px 7px 0;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	color: var(--darkblue);
	transition: all 0.5s ease;
}
.social-links a:hover{
	color:var(--white);
	background-color: #4444ff;
}


/* Mobile View Using Media Query */

@media only screen and (max-width: 1020px) {
    .reg{
        padding-left: 30%;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
    padding-top: 2%;  
   box-sizing: border-box;
   width: 450px;
   height: 420px;
   border-style:ridge;   
}
}
@media only screen and (max-width: 992px) {
    nav ul{
        width: 60%;
    }
    .footer-row{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .reg{
        padding-left:25%;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
    padding-top: 2%;  
   box-sizing: border-box;
   width: 450px;
   height: 420px;
   border-style:ridge;   
}
}

@media only screen and (max-width: 700px){
    .nav-links{
        width: 90%;
    }
    .line1,.line2,.line3{
        z-index: 9999;
        height: 15%;
        width: 80%;
        background-color: var(--darkblue);
        margin-top: 3px;
        border-radius: 5px;
        transition: .6s ease-out;
    }
    .line1.act{
        transform:rotate(-400deg) translate(-3px,5px);
    }
    .line2.act{
        opacity: 0;
    }
    .line3.act{
        transform:rotate(400deg) translate(-3px,-6px);
    }
    .mob-nav{
        right: 0;
        flex-direction: column;
        justify-content:space-evenly;
        position: fixed;
        top: 0%;
        width: 50%;
        height: 50%;
        font-size: 16px;
        background-color: var(--softwhite);
        text-align: center;
        transform: translateX(100%);
        cursor: pointer;
	    transition: .6s;
    }
     a{
	color:var(--darkblue);
	}
    .navdisp{
        transform: translateX(0%);
        transition: .6s;
	
    }
    nav{
        height: 10%;
    }
    .menu-btn{
        display: block;
    }
    .nav-links{
        height: 100%;
    }
    .reg{
        padding-left: 18%;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
    padding-top: 2%;  
   box-sizing: border-box;
   width: 450px;
   height: 420px;
   border-style:ridge;   
}
    .footer-row{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width: 610px){
    .reg{
        margin-left:-50px;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
    padding-top: 2%;  
   box-sizing: border-box;
   width:420px;
   height: 440px;
   border-style:ridge;   
}
    .footer-row{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 500px){
    .reg{
        margin-left:-50px;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
    padding-top: 2%;  
   box-sizing: border-box;
   width:400px;
   height: 440px;
   border-style:ridge;   
}
}
@media only screen and (max-width: 450px){
    .reg{
        margin-left: -30px;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
        padding-top: 2%;  
        box-sizing: border-box;
        width: 330px;
        height: 560px;
        border-style:ridge; 
    }
}
@media only screen and (max-width: 400px){
    .reg{
        margin-left: -45px;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
        padding-top: 2%;  
        box-sizing: border-box;
        width: 330px;
        height: 560px;
        border-style:ridge; 
    }
}
@media only screen and (max-width: 374px){
    .reg{
        margin-left:-55px;
    }
    .reg h1{
        padding-left: 20%;
    }
    .forms{
        padding-left: 5%;
        padding-top: 2%;  
        box-sizing: border-box;
        width: 330px;
        height: 560px;
        border-style:ridge; 
    }
}